.flag-content {
  font-size: 4rem;
}
.loading,
.dots {
  color: #f5f5dc;
}
.dots::after {
  content: "";
  width: 1em;
  animation: dots 2.5s steps(4, end) infinite;
}

@media only screen and (min-width: 960px) {
  .flag-content {
    font-size: 5rem;
  }
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80% {
    content: "...";
  }
}
