.ctf-script-page-main {
  width: 100vw;
  height: 75vh;
  margin-top: 25px;
  justify-content: center;
}
.ctf-script-page-content {
  width: 90vw;
  overflow: scroll;
}
span {
  display: inline-flex;
}
