.navbar-container {
  margin-top: 10px;
  width: 100vw;
  justify-content: center;
}
.navbar-content {
  justify-content: center;
  width: 100%;
}
.navbar-content a {
  align-items: center;
}
.navbar-content a:hover {
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar-separator {
  margin: 0 8% 0 8%;
}
