.flag-content {
  width: 100vw;
  height: 75vh;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
.loading,
.dots {
  color: #f5f5dc;
}
.dots::after {
  content: "";
  width: 1em;
  animation: dots 2.5s steps(4, end) infinite;
}
.flag-list {
  color: #add8e6;
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80% {
    content: "...";
  }
}
